#First-Landing {
    width: 100%;
    ;
    background: linear-gradient(to right, #380d2f 5%, black);

    header{
        position: fixed;
        z-index: 999;
        height: 10%;
        width: 100%;
        // background-color: #20091b5b;
        background-color: transparent;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        padding-left: 0.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-title{
            text-transform: uppercase;
            
        }

        .nav-list {
            width: 50%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            ul{
                width: 80%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                list-style: none;

                li {
                    cursor: pointer;
                }
            }

            ul:last-child{
                width: 20%;
            }
        }
    }

    main  {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // height: 100%;
        width: 100%;

        .image-container{
            position: fixed;
            top: 10rem;
            left: 50%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        section {
            height: 80vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
        }
        
        .Introduction {
            h3{
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: 100;
                font-family: "Inria Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            }

            h2 {
                font-size: 4rem;
                text-transform: capitalize;
                font-weight: 700;
                word-spacing: 0.5rem;
                letter-spacing: 0.2rem;
                font-family: "Inria Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            }

            p {
                font-size: 1.3rem;
                font-weight: 500;
                font-family: "Nunito Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            }

            button {
                padding: 0.5rem 1rem;
                font-size: 1.5rem;
                font-weight: 100;
                font-family: "Inria Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            }

            .text-bottom {
                position: absolute;
                display: block;
                bottom: 2rem;
                left: 2rem;
            }
        }   

        .about-me{
            position: sticky;
            top: 0;
            height: 100vh;
            overflow: hidden;

        }
    }
}